// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// original
.pointer {
    cursor: pointer;
}

.align-right {
    text-align: right;
}

.construction_category {
    &_footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #c2c2c2;
        display: flex;
    }

    &_content {
        padding:5px 8px;
        border: 1px solid black;
    }

    &_active {
        background-color: #f2f2f2;
    }
}

// table
table {
    border-collapse: collapse;
    border: solid 2px orange;
}
table td {
    border: dashed 1px orange;
    padding: 3px 10px;
}
thead {
    background-color: #fff5e5;
}
tbody {
    border: solid 2px orange;
}
